.personClip {
  margin: 10px;
  cursor: move;
  letter-spacing: .3px;
  line-height: 1.5;
  font-size: 1.1em;
  background-color: #D2D6CB;
}

.personClip:hover {
  background-color: #F3F7EF;
}

.personClip.list-group-item {
  border: 1px solid #747669
}