.personHeader {
  cursor: pointer;
  margin-left: 20px;
}

.personImage {
  display: inline-block;
  padding: 5px 15px;
}

.personName {
  font-size: 1.25em;
  color: #201C1B;
  letter-spacing: 1px;
}
