.dragging {
  opacity: 0;
}

.removeItem {
  padding: 0 10px;
  color: #c93932;
  cursor: default;
  display: none;
}

.queueItem {
  margin: 5px 0;
  cursor: move;
  border: 1px solid #747669
}

.queueItem:hover span {
  display: inline-block;
}

.playing {
  /*margin: 10px 0 !important;*/
  transform: scale(1.05);
  transition: all .3s ease-in;
  animation-name: changeBg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeBg {
  from { background: #F3F7EF }
  to { background: #BCC0B3}
}
