.rtl {
  direction: rtl;
  max-height: 90vh;
  overflow-y: auto;
}

.queue {
  direction: ltr;
  width: 100%;
  min-height: 400px;
}

.noQueueItem {
  border: 1px dashed gray;
  text-align: center;
  margin: 40px 10px 20px;
  line-height: 200px;
  font-size: 1.2em;
}