/*Color Palette

body-bg: #876D6A
panel-bg: #909483
item-bg: #D2D6CB
item-bg-hover: #F3F7EF
item-border: #747669
body-clr: #555 / #201C1B/ #4A4942
person-hover: #A6AA9B
scroll-bar/headers: #4A4942
*/

body {
  background-color: #876D6A;
  color: #4A4942;
  min-width: 566px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: .5px;
}

button:focus, .btn:focus {
  outline:0;
}

.btn-default {
  color: #4A4942;
}

/*https://css-tricks.com/almanac/properties/s/scrollbar/*/
.library .col-sm-6:nth-child(2n+1) {
  clear: left;
}

.libraryScroll::-webkit-scrollbar,
.rtl::-webkit-scrollbar {
    width: .5em;
}
 
.libraryScroll::-webkit-scrollbar-track,
.rtl::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}
 
.libraryScroll::-webkit-scrollbar-thumb,
.rtl::-webkit-scrollbar-thumb {
  background-color: #4A4942;
}